

#headerContainer{
    display: flex;
    background: rgba(40, 42, 44, 0.4);
    
    height: 100px;
    
    box-shadow: 0 4px 8px 0 rgba(40, 42, 44, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}



#ForumContainer{
    margin-top: 20px;
    display: grid;
    background: rgba(40, 42, 44, 0.4);
    height: 900px;
    border-radius: 1%;
    
}

body{
    background-image: url("xct1f2lftny21.jpg");
}

form{
    margin-left: 10%;
}


.empty{
    
    height: 10px;
    width: 10px;
}

#test{
    width: 300%;
}