<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/LookingForGroupValidation.js" defer></script>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
     integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
     <title>Looking for Group Forum</title>
</head>
<body >

    <div id="headerContainer" class="pure-g">

        <img src="/Images/WebsiteLogo.png" class="pure-u-1-5 logo" alt="">

        <h1 class="pure-u-3-5">
            Dragonrealm LFG
        </h1>

        <nav class="pure-u-1-5 NavButton">
            <a class="pure-button" href="InformationPage.html">Author Page</a>
            <a class="pure-button" href="FilterPage.html">Posts Page</a>
        </nav>
    </div>


    <div class="pure-g">

        <div class="pure-u-1-5 empty"></div>

        <div id="ForumContainer" class="pure-u-3-5">
            <form id="formPostRequirements" class="pure-form pure-form-stacked" method="post" action="/DragonrealmPostLFG">
                <fieldset class="pure-group">

                    <label for="title">Group-Title</label>
                    <input type="text" id="title" name="title" class="pure-u-1-3" />

                    <fieldset class="pure-group">
                        <label for="description">Specific Group Information</label>
                        <textarea id="description" name="description" class="pure-u-11-12" rows="6" ></textarea>
                    </fieldset>

                    <fieldset class="pure-group">
                        <label for="playerNumber">Players Needed</label>
                        <select id="playerNumber" name="playerNumber" class="pure-u-1-10">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </fieldset>

                    <label for="levelRequirement">Level Requirement</label>
                    <input id="levelRequirement" name="levelRequirement" type="number" max="50" placeholder="1-50" class="pure-u-1-8">

                    <fieldset class="pure-group">
                        <label for="activityType">Activity Type</label>
                        <select id="activityType" name="activityType" class="pure-u-1-2">
                            <option>Raid</option>
                            <option>PVP</option>
                            <option>Dungeon</option>
                            <option>FreeRoam</option>
                        </select>
                    </fieldset>

                </fieldset>



                <fieldset id="playerClasses">
                    <div class="pure-g">

                        <div class="pure-u-1-2">
                            <label for="playerType1">Player One Class</label>
                            <select id="playerType1" name="playerType1" class="pure-u-17-24 playerType" required="">
                                <option value="" disabled selected hidden></option>
                                <option>warlock</option>
                                <option>knight</option>
                                <option>Assasin</option>
                                <option>Brute</option>
                            </select>

                            <label for="playerType2">Player Two Class</label>
                            <select id="playerType2" name="playerType2" class="pure-u-17-24 playerType" required="">
                                <option value="" disabled selected hidden></option>
                                <option>warlock</option>
                                <option>knight</option>
                                <option>Assasin</option>
                                <option>Brute</option>
                            </select>
                        </div>

                        <div class="pure-u-1-2">
                            <label for="playerType3">Player Three Class</label>
                            <select id="playerType3" name="playerType3" class="pure-u-17-24 playerType" required="">
                                <option value="" disabled selected hidden></option>
                                <option>warlock</option>
                                <option>knight</option>
                                <option>Assasin</option>
                                <option>Brute</option>
                            </select>

                            <label for="playerType4">Player Four Class</label>
                            <select id="playerType4" name="playerType4" class="pure-u-17-24 playerType" required="">
                                <option value="" disabled selected hidden></option>
                                <option>warlock</option>
                                <option>knight</option>
                                <option>Assasin</option>
                                <option>Brute</option>
                            </select>
                        </div>

                    </div>
                </fieldset>
                <button type="submit" class="pure-button pure-button-primary pure-u-1-3">Submit</button>
            </form>
        </div>
        <div class="pure-u-1-5 empty"></div>
    </div>

</body>

</html>